{% extends 'main.html' %}

{% block content %}
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <h3>Đã gửi yêu cầu đặt lại mật khẩu</h3>
            <p>Chúng tôi đã gửi cho bạn hướng dẫn thiết lập lại mật khẩu qua email của bạn. Nếu tài khoản và email hợp
                lệ, bạn sẽ sớm nhận được chúng.</p>
            <br>
            <p>Nếu không nhận được email, hãy đảm bảo rằng bạn đã nhập đúng địa chỉ email đã đăng ký và kiểm tra mục thư
                rác của bạn</p>
        </div>
    </div>
</main>
{% endblock content %}